.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
svg{
    fill: #575596;
    stroke: black;
    stroke-width: 1.3px;
    
}
path{


    z-index: 100;
}
path:hover{
    fill: #29a584;
    cursor: pointer;
    padding: 0px;
}

